<h1>Login</h1>
<% if (messages.error){ %>
    <%= messages.error %>
<%} %><!-- to display error message -->
<form action="/login" method="POST">
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required> <!-- the name="email" is the way we will acess the email inputed on the server -->
</div><br>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required> <!-- the name="password" is the way we will acess the password inputed on the server -->
</div><br>

<button type="submit">Login</button>

</form><br>
<div> <a href="/register">Register</a> </div><!-- to redirect to the login page-->

